.contact {
    min-height: 722px;
    &__text {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.3rem;
        padding-top: 6.3rem;
        &::after {
            content: '';
            position: absolute;
            top: 70%;
            left: 43%;
            width: 14%;
            border: 1px solid #EC7979;
        }

        
        &_descr {
            padding-top: 6rem;
            color: #86878B;
        }
    }
    &__form {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        
        &:nth-child(2) {
            justify-content: center;
        }

        &__name {
            display: flex;            
            &_text {
                padding-right: 2rem;
                & input {
                    color: #BDBDBD;
                    padding: 3.7rem 25.5rem 1.2rem 0rem;
                    border: none;
                    border-bottom: 1px solid #BDBDBD;
                }
            }
              
        }
        &__message {
            display: flex;
            &_text input {
                color: #BDBDBD;
                padding: 3.7rem 25rem 13rem 0rem;
                border: none;
                border-bottom: 1px solid #BDBDBD;
              }
            
        }
        &_pass button{
            width: 23rem;
            padding: 1.1rem 0;
            margin-top: 3rem;
            color: #FFFFFF;
            background-color: #EC7979;
            border: none;
            // border-radius: 0 0 0.5rem 0.5rem;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            letter-spacing: 1px;
            cursor: pointer
            
        }
    }
}