.tabs {
    &__wrapper {
        padding-top: 100px;
    }
    &__tabs {
        display: flex;
        justify-content: left;
        align-items: center;    
    }

    &__tab {
        width: 12rem;

        &_text{
            font-size: 0.9rem;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            &_active{
                font-size: 0.9rem;
                font-family: 'Open Sans', sans-serif;
                border: 1px solid #C6CBCD ;
                border-bottom: none;
                text-align: center;
                padding: 0.5rem 0;
            }
        }
    }
    &__content {
        display: flex;
        

        &__text {
            
            display: flex;
            flex-direction: column;
            border: 1px solid #C6CBCD;
            border-right: none;
            padding: 2.8rem 1rem 0px 6rem;
            &_title {
                padding-bottom: 4rem;   
            }
            &_descr {
                padding-bottom: 3.3rem;  
            }
        }

        &__button {
            display: block;
            width: 46%;
            height: 250%;
            color: #FFFFFF;
            text-transform: none;
            background-color: #EC7979;
            border: none;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 1.2rem;
            letter-spacing: 1px;
            cursor: pointer
        }
        &__link {
            text-decoration: none;
        }
    }
    
    
}
